
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'bodyFont';
    src: url('/fonts/Overpass-VariableFont_wght.ttf');
}

.clicked {
    background-color: #fb7413;
    color: white;
}

